@inherits IAsyncDisposable
@implements IBrowserViewportObserver


<div>
<MudTable @ref="@_table" 
          Items="@_transactions" 
          RowsPerPage="25" 
          Hover="true" 
          Breakpoint="Breakpoint.Sm" 
          LoadingProgressColor="Color.Info"
          Striped="true"
          ServerData="RetrievePage"
>
    <HeaderContent>
        <MudTh>Date</MudTh>
        <MudTh>Time</MudTh>
        <MudTh>Amount</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Balance After</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Date">@context.TransactionTimestamp.Date.ToString("d")</MudTd>
        <MudTd DataLabel="Time">@context.TransactionTimestamp.ToString("t")</MudTd>
        <MudTd DataLabel="Amount">
            @if (context.TransactionAmount == 0m)
            {
                <MudText Color="Color.Error" Style="text-align: right;">--</MudText>
            }
            else
            {
                <MudNumericField
                    Format="C2"
                    ReadOnly="true"
                    HideSpinButtons="true"
                    Underline="false"
                    Value="@context.TransactionAmount"
                    Variant="Variant.Text"
                    Style="font-size: 0.875rem; font-weight: bold;"
                    Class="@(context.TransactionAmount > 0 ? "positive-amount" : "negative-amount")"/>
                
            }
        </MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Balance">
            <MudNumericField Format="C2" 
                             ReadOnly="true" 
                             HideSpinButtons="true" 
                             Underline="false"
                             Value="@context.Balance" 
                             Variant="Variant.Text"
                             Style="font-size: 0.875rem"
                             Class="@(context.Balance > 0 ? "positive-amount" : "negative-amount")"
                             />
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudPagination Class="pa-4"/>
    </PagerContent>
</MudTable>
</div>