@page "/{tenantSuffix}/children"
@using ChildAllowanceManager.Common.Models
@using ChildAllowanceManager.Workers
@using Humanizer
@using Microsoft.Extensions.Logging.Abstractions
@using Quartz
@using Quartz.Impl
@using Quartz.Spi
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Authorization

<PageTitle>Child Allowance Manager</PageTitle>
<div>
    @foreach (var child in Children ?? Array.Empty<ChildWithBalance>())
    {
        <MudCard Outlined="true"
                 Elevation="12"
                 Class="ma-4 pa-2">
            <MudCardHeader>
                <MudAvatar Class="mr-3" Color="@(child.HoldDaysRemaining > 0 ? Color.Warning : Color.Inherit)">@child.Name[0]</MudAvatar>
                <MudText Typo="Typo.h5">@child.Name</MudText>
                <MudSpacer></MudSpacer>
                @if (child.IsBirthday)
                {
                    <MudIcon Icon="Icons.Material.Filled.Cake" Color="Color.Success"></MudIcon>
                }
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.h6" Color="@(child.Balance > 0 ? Color.Success : Color.Error)">@child.Balance.ToString("C2")</MudText>
                @if (child.HoldDaysRemaining > 0)
                {
                    <MudChipSet T="string">
                        @for (int i = 0; i < child.HoldDaysRemaining; i++)
                        {
                            <AuthorizeView Roles="admin,parent">
                                <Authorized>
                                    <MudChip Icon="@Icons.Material.Filled.StopCircle"
                                             IconColor="Color.Error"
                                             OnClose="() => RemoveHoldDay(child)"
                                             T="string"/>
                                </Authorized>
                                <NotAuthorized>
                                    <MudChip Icon="@Icons.Material.Filled.StopCircle"
                                             IconColor="Color.Error"
                                             Variant="Variant.Outlined"
                                             T="string"/>
                                </NotAuthorized>
                            </AuthorizeView>
                        }
                    </MudChipSet>
                }
                <MudText Typo="Typo.body1">+@child.NextRegularChange.ToString("C2") @child.NextRegularChangeDate.ToLocalTime().Humanize()</MudText>
                
            </MudCardContent>
            <MudCardActions>
                <MudTooltip Text="Transactions">
                    <MudIconButton Icon="@Icons.Material.Filled.ListAlt"
                                   Color="Color.Primary"
                                   OnClick="() => ShowTransactionsForChild(child)" />
                </MudTooltip>
                <AuthorizeView Roles="admin,parent">
                <Authorized>
                    <MudTooltip Text="Add Funds">
                        <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                       Color="Color.Success"
                                       OnClick="() => ShowAddFundsForChild(child)">
                            Add
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Withdraw">
                        <MudIconButton Icon="@Icons.Material.Filled.RemoveCircle"
                                       Color="Color.Warning"
                                       OnClick="() => ShowWithdrawFundsForChild(child)">
                            Withdraw
                        </MudIconButton>
                    </MudTooltip>
                    <MudSpacer/>
                    <MudTooltip Text="Suspend allowance">
                        <MudIconButton Icon="@Icons.Material.Filled.StopCircle"
                                       Color="Color.Error"
                                       OnClick="() => ApplyHold(child)"/>
                    </MudTooltip>
                </Authorized>
                </AuthorizeView>
            </MudCardActions>
        </MudCard>
    }
</div>    