@page "/{tenantSuffix}/children"
@using ChildAllowanceManager.Common.Models
@using ChildAllowanceManager.Workers
@using Humanizer
@using Microsoft.Extensions.Logging.Abstractions
@using Quartz
@using Quartz.Impl
@using Quartz.Spi
@using Microsoft.AspNetCore.Components.Authorization
@using Newtonsoft.Json.Serialization
@using Plotly.Blazor
@using Plotly.Blazor.Traces

<PageTitle>Child Allowance Manager</PageTitle>
<div>
<MudGrid>
    <MudItem xs="12" sm="6" md="3">
    @foreach (var child in Children ?? Array.Empty<ChildWithBalance>())
    {
        <MudCard Outlined="true"
                 Elevation="12"
                 Class="ma-4 pa-2">
            <MudCardHeader>
                <MudAvatar Class="mr-3" Color="@(child.HoldDaysRemaining > 0 ? Color.Warning : Color.Inherit)">@child.Name[0]</MudAvatar>
                <MudText Typo="Typo.h5">@child.Name</MudText>
                <MudSpacer></MudSpacer>
                @if (child.IsBirthday)
                {
                    <MudIcon Icon="@Icons.Material.Filled.Cake" Color="Color.Success"></MudIcon>
                }
            </MudCardHeader>
            <MudCardContent>
                <MudText Typo="Typo.h4" 
                        Color="@(child.Balance > 0 ? Color.Success : Color.Error)"
                        Class="mb-2 pb-2">@child.Balance.ToString("C2")</MudText>
                @if (child.HoldDaysRemaining > 0)
                {
                    <MudChipSet T="string">
                        @for (int i = 0; i < child.HoldDaysRemaining; i++)
                        {
                            <AuthorizeView Roles="admin,parent">
                                <Authorized>
                                    <MudChip Icon="fa-solid fa-ban"
                                            IconColor="Color.Error"
                                            Class="ma-2 px-3"
                                            OnClose="() => RemoveHoldDay(child)"
                                            T="string"/>
                                </Authorized>
                                <NotAuthorized>
                                    <MudChip Icon="fa-solid fa-ban"
                                            IconColor="Color.Error"
                                            Variant="Variant.Outlined"
                                            Class="ma-2 px-1"
                                            T="string"/>
                                </NotAuthorized>
                            </AuthorizeView>
                        }
                    </MudChipSet>
                }
                <MudText Typo="Typo.body1">+@child.NextRegularChange.ToString("C2") @child.NextRegularChangeDate.ToLocalTime().Humanize()</MudText>
            </MudCardContent>
            <MudCardActions>
                <MudTooltip Text="Transactions">
                    <MudIconButton Icon="fa-solid fa-coins"
                                   Style="@($"color:{Colors.Yellow.Darken2};")"
                                   OnClick="() => ShowTransactionsForChild(child)" />
                </MudTooltip>
                <AuthorizeView Roles="admin,parent">
                <Authorized>
                    <MudTooltip Text="Add Funds">
                        <MudIconButton Icon="@Icons.Material.Filled.AddCircle"
                                       Color="Color.Success"
                                       OnClick="() => ShowAddFundsForChild(child)">
                            Add
                        </MudIconButton>
                    </MudTooltip>
                    <MudTooltip Text="Withdraw">
                        <MudIconButton Icon="@Icons.Material.Filled.RemoveCircle"
                                       Color="Color.Warning"
                                       OnClick="() => ShowWithdrawFundsForChild(child)">
                            Withdraw
                        </MudIconButton>
                    </MudTooltip>
                    <MudSpacer/>
                    <MudTooltip Text="Suspend allowance">
                        <MudIconButton Icon="fa-solid fa-ban"
                                       Color="Color.Error"
                                       OnClick="() => ApplyHold(child)"/>
                    </MudTooltip>
                </Authorized>
                </AuthorizeView>
            </MudCardActions>
        </MudCard>
    }
    </MudItem>
    <MudItem xs="12" sm="6" md="9">
        <div class="pt-4" style="width: 100%; height: 100%; align-content: center;">
            <PlotlyChart @bind-Config="_plotlyConfig"
                         @bind-Layout="_plotlyLayout"
                         @bind-Data="_plotlyData"
                         @ref="_plotlyChart"/>
        </div>
    </MudItem>
</MudGrid>
</div>    